<ion-list color="primary" class="fondo">
  <ion-item color="tertiary " >
  <ion-label>Listados de Parque de Bogota D.C</ion-label></ion-item>
  <ion-item>
    <ion-label (click)="doc()">
      Parque Ciudad Montes
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label  (click)="close()">
      Parque Milenta
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label  (click)="close()">
      Parque Santa Agueda
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label  (click)="close()">
      Parque Simon Bolivar
    </ion-label>
  </ion-item>
</ion-list>